*.xml
readme.txt.txt
*.exe
SimpleCalculator/bin/Debug/SimpleCalculator.exe.config
*.pdb
readme.txt.txt
*.cache
SimpleCalculator/obj/Debug/SimpleCalculator.csproj.CopyComplete
SimpleCalculator/obj/Debug/SimpleCalculator.csproj.FileListAbsolute.txt
UnitTests/bin/Debug/SimpleCalculator.exe.config
UnitTests/obj/Debug/UnitTests.csproj.CopyComplete
UnitTests/obj/Debug/UnitTests.csproj.FileListAbsolute.txt
VisitorDesignPattern/bin/Debug/netstandard2.0/VisitorDesignPattern.deps.json
VisitorDesignPattern/obj/Debug/netstandard2.0/VisitorDesignPattern.csproj.FileListAbsolute.txt
VisitorDesignPattern/obj/project.assets.json
VisitorDesignPattern/obj/VisitorDesignPattern.csproj.nuget.dgspec.json
VisitorDesignPattern/obj/Debug/netstandard2.0/VisitorDesignPattern.AssemblyInfo.cs
.vs/SimpleCalculator/v16/.suo
.vs/SimpleCalculator/v16/Server/sqlite3/db.lock
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide-shm
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide-wal
.vs/SimpleCalculator/v16/TestStore/0/000-0000.testlog
.vs/SimpleCalculator/v16/TestStore/0/testlog.manifest
SimpleCalculator/bin/Debug/VisitorDesignPattern.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
UnitTests/bin/Debug/UnitTests.dll
UnitTests/bin/Debug/VisitorDesignPattern.dll
UnitTests/obj/Debug/UnitTests.dll
VisitorDesignPattern/bin/Debug/netstandard2.0/VisitorDesignPattern.dll
VisitorDesignPattern/obj/Debug/netstandard2.0/VisitorDesignPattern.dll
VisitorDesignPattern/obj/VisitorDesignPattern.csproj.nuget.g.targets
