
*.p7s
*.targets
*.xml
*.nupkg
readme.txt.txt
*.exe
SimpleCalculator/bin/Debug/SimpleCalculator.exe.config
*.pdb
readme.txt.txt
*.cache
SimpleCalculator/obj/Debug/SimpleCalculator.csproj.CopyComplete
SimpleCalculator/obj/Debug/SimpleCalculator.csproj.FileListAbsolute.txt
UnitTests/bin/Debug/SimpleCalculator.exe.config
UnitTests/obj/Debug/UnitTests.csproj.CopyComplete
UnitTests/obj/Debug/UnitTests.csproj.FileListAbsolute.txt
VisitorDesignPattern/bin/Debug/netstandard2.0/VisitorDesignPattern.deps.json
VisitorDesignPattern/obj/Debug/netstandard2.0/VisitorDesignPattern.csproj.FileListAbsolute.txt
VisitorDesignPattern/obj/project.assets.json
VisitorDesignPattern/obj/VisitorDesignPattern.csproj.nuget.dgspec.json
VisitorDesignPattern/obj/Debug/netstandard2.0/VisitorDesignPattern.AssemblyInfo.cs
